.customBg {
  background: radial-gradient(
    124.23% 171.99% at 100% -3.39%,
    #1f4247 0%,
    #0d1d23 56.18%,
    #09141a 100%
  );
}

.bgBorder {
  background: rgba(255, 255, 255, 0.06);
}

.buttonBg {
  border-radius: 8px;
  background: linear-gradient(108deg, #62CDCB 24.88%, #4599DB 78.49%);
  transition: background-color 0.3s ease; /* Animasi transisi */
}
.buttonBg:hover {
  background: linear-gradient(rgba(98, 205, 203, 1), rgba(69, 153, 219, 1));
}

.golden {
  color: linear-gradient(
    74deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  ) !important;
}

/* Terapkan variabel Golden pada warna teks */
.textColor {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
